# LocalStack
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
LOCALSTACK_ENDPOINT=http://localstack:4566

# DynamoDB table names
DYNAMODB_INSTANCES_TABLE=osb-instances
DYNAMODB_BINDINGS_TABLE=osb-bindings
DYNAMODB_SERVICES_TABLE=sovereign-services

# SQS
SQS_QUEUE_NAME=osb-provisioning

# OSB Basic Auth (X-Broker-API-Version: 2.17)
OSB_USERNAME=admin
OSB_PASSWORD=secret

# Sovereign
SOVEREIGN_POLL_INTERVAL=5
SOVEREIGN_PORT=8001

# Auth sidecar
AUTH_SHARED_SECRET=dev-token-for-testing
